/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

:root {
  --branding-text-color: #fff;
  --primary-background-color:  #F0F0F0;
  --secondary-background-color: #fff;
  --content-text-color: #333333;
  --accent-color: #C71585;
  font-size: 14px;
}

@font-face {
  font-family: 'norse-webfont';
  src: url(Fonts/norse-webfont.woff2),
       url(Fonts/norse-webfont.woff);
}

@font-face {
  font-family: 'norsebold-webfont';
  src: url(Fonts/norsebold-webfont.woff2),
       url(Fonts/norsebold-webfont.woff);
}

@font-face {
  font-family: 'norse-logo';
  src: url(Fonts/norse-logo.otf);
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'norse-webfont', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'norsebold-webfont', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.branding-section {
  flex: 1;
  background-image: url(Images/a-s-OeTbb4Op1LI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: var(--branding-text-color);
  background-color: var(--primary-background-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}

.branding-section a {
  color: var(--branding-text-color);
}

.content-section {
  flex: 2;
}

.logo-container {
  background-color: rgba(0, 0, 0, 0.3);
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top:100px;
}

.logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.logo__text {
  font-family: 'norse-logo';
  font-size: 4rem;
}

.logo__img {
  width: 70px;
  height: auto;
}

.branding-section > p {
  margin-bottom: 10px;
}

.content-section {
  display: flex;
  flex-direction: column;
  color: var(--content-text-color);
}
.hero {
  background-color: var(--primary-background-color);
  flex: 1;
  font-weight: bolder;
  font-size: 1.3rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero > * {
  margin-left: 2rem;
}

.hero-text-3 {
  margin-top: 2rem;
}

.form-container {
  flex: 1;
  background-color: var(--secondary-background-color);
}

.submit-container {
  flex: 1;
  background-color: var(--primary-background-color);
}

.submit-container > * {
  margin-left: 2rem;
  font-weight: bold;
}

.submit-btn {
  margin: 2rem;
  color: var(--branding-text-color);
  background-color: var(--accent-color);
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  font-weight: bolder;
  border-color: var(--primary-background-color);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.submit-container a {
  color: var(--accent-color);
  text-decoration: none;
}










